body {
    background-color: rgb(96, 197, 255);
}

#ContainerPrincipal {
    top: 50%;
    background-color: rgb(0, 110, 255);
    width: 400px;
    height: 600px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

#EntradaDados {
    width: 80%;
    height: 15%;
    margin-top: 8%;
    font-size: 40px;
    text-align: right;
    margin-left: 10%;
}

.BotoesOperacoes {
    padding: 5%;
}
.BotoesOperacoes input {
    width: 58px;
    height: 49px;
    margin-left: 23px;
    font-size: 24px;
}
.TecladoNumerico input {
    width: 98px;
    height: 81px;
    transform: translate(49px, 10px);
    border-color: rgb(0, 110, 255);
    border-width: 5px;
    font-size: 26px;
}